---
http_interactions:
- request:
    method: get
    uri: https://api.postalmethods.com/PostalWS.asmx?WSDL
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"PostalMethods\"
        xmlns:s1=\"PostalMethods/AbstractTypes\" xmlns:s=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\"
        targetNamespace=\"PostalMethods\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n
        \ <wsdl:types>\r\n    <s:schema elementFormDefault=\"qualified\" targetNamespace=\"PostalMethods\">\r\n
        \     <s:element name=\"SendLetter\">\r\n        <s:complexType>\r\n          <s:sequence>\r\n
        \           <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"Username\" type=\"s:string\"
        />\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"Password\"
        type=\"s:string\" />\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"MyDescription\" type=\"s:string\" />\r\n            <s:element minOccurs=\"0\"
        maxOccurs=\"1\" name=\"FileExtension\" type=\"s:string\" />\r\n            <s:element
        minOccurs=\"0\" maxOccurs=[...]
- request:
    method: post
    uri: https://api.postalmethods.com/PostalWS.asmx
    body:
      encoding: UTF-8
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?><env:Envelope xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:tns=\"PostalMethods\"
        xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:ins0=\"PostalMethods/AbstractTypes\"><env:Body><tns:SendLetterV2><tns:username>chipcastle</tns:username><tns:password>Hedu0910</tns:password><tns:apiKey>35fe9b4d-8f52-41c7-9afb-d05b949e8e62</tns:apiKey><tns:fileExtension>txt</tns:fileExtension><tns:fileBinaryData>=
        postalmethods\n\n* Info: http://www.postalmethods.com/resources/quickstart\n*
        Code: http://github.com/imajes/postalmethods/tree/master\n\n== DESCRIPTION:\n\nAPI
        wrapper library for the postal methods api.\n\n== FEATURES/PROBLEMS:\n\n*
        Provides access to all of the API methods with appropriate \n  exceptions
        as necessary.\n\n== SYNOPSIS:\n\nrequire 'postalmethods'\n\n@doc = open(File.dirname(__FILE__)
        + '/../spec/doc/sample.pdf')\n@client = PostalMethods::Client.new(:user =&gt;
        &quot;user&quot;, :password =&gt; &quot;password&quot;)\nrv = @client.send_letter(@doc,
        &quot;description of doc&quot;)\nputs rv\n\n== REQUIREMENTS:\n\n* This gem
        relies on the soap4r gem.\n\n== INSTALL:\n\n* sudo gem install postalmethods\n*
        get a developer account at postalmethods.com\n\n== LICENSE:\n\n* See License.txt</tns:fileBinaryData><tns:myDescription>the
        long goodbye</tns:myDescription><tns:workMode>Default</tns:workMode></tns:SendLetterV2></env:Body></env:Envelope>"
    headers:
      Soapaction:
      - ! '"PostalMethods/SendLetterV2"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><SendLetterV2Response
        xmlns="PostalMethods"><SendLetterV2Result>-4001</SendLetterV2Result></SendLetterV2Response></soap:Body></soap:Envelope>
  recorded_at: Thu, 30 Oct 2014 15:54:19 GMT
- request:
    method: get
    uri: http://api.postalmethods.com/2009-02-26/PostalWS.asmx
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: !binary |-
        T0s=
    headers:
      !binary "RGF0ZQ==":
      - !binary |-
        VGh1LCAzMCBPY3QgMjAxNCAxNzozMDoxOSBHTVQ=
      !binary "U2VydmVy":
      - !binary |-
        TWljcm9zb2Z0LUlJUy82LjA=
      !binary "WC1Qb3dlcmVkLUJ5":
      - !binary |-
        QVNQLk5FVA==
      !binary "WC1Bc3BuZXQtVmVyc2lvbg==":
      - !binary |-
        Mi4wLjUwNzI3
      !binary "Q2FjaGUtQ29udHJvbA==":
      - !binary |-
        cHJpdmF0ZSwgbWF4LWFnZT0w
      !binary "Q29udGVudC1UeXBl":
      - !binary |-
        dGV4dC9odG1sOyBjaGFyc2V0PXV0Zi04
      !binary "Q29udGVudC1MZW5ndGg=":
      - !binary |-
        NzU4NA==
    body:
      encoding: US-ASCII
      string: ! "\r\n\r\n<html>\r\n\r\n    <head><link rel=\"alternate\" type=\"text/xml\"
        href=\"/2009-02-26/PostalWS.asmx?disco\" />\r\n\r\n    <style type=\"text/css\">\r\n
        \   \r\n\t\tBODY { color: #000000; background-color: white; font-family: Verdana;
        margin-left: 0px; margin-top: 0px; }\r\n\t\t#content { margin-left: 30px;
        font-size: .70em; padding-bottom: 2em; }\r\n\t\tA:link { color: #336699; font-weight:
        bold; text-decoration: underline; }\r\n\t\tA:visited { color: #6699cc; font-weight:
        bold; text-decoration: underline; }\r\n\t\tA:active { color: #336699; font-weight:
        bold; text-decoration: underline; }\r\n\t\tA:hover { color: cc3300; font-weight:
        bold; text-decoration: underline; }\r\n\t\tP { color: #000000; margin-top:
        0px; margin-bottom: 12px; font-family: Verdana; }\r\n\t\tpre { background-color:
        #e5e5cc; padding: 5px; font-family: Courier New; font-size: x-small; margin-top:
        -5px; border: 1px #f0f0e0 solid; }\r\n\t\ttd { color: #000000; font-family:
        Verdana; font-size: .7em; }\r\n\t\th2 { font-size: 1.5em; font-weight: bold;
        margin-top: 25px; margin-bottom: 10px; border-top: 1px solid #003366; margin-left:
        -15px; color: #003366; }\r\n\t\th3 { font-size: 1.1em; color: #000000; margin-left:
        -15px; margin-top: 10px; margin-bottom: 10px; }\r\n\t\tul { margin-top: 10px;
        margin-left: 20px; }\r\n\t\tol { margin-top: 10px; margin-left: 20px; }\r\n\t\tli
        { margin-top: 10px; color: #000000; }\r\n\t\tfont.value { color: darkblue;
        font: bold; }\r\n\t\tfont.key { color: darkgreen; font: bold; }\r\n\t\tfont.error
        { color: darkred; font: bold; }\r\n\t\t.heading1 { color: #ffffff; font-family:
        Tahoma; font-size: 26px; font-weight: normal; background-color: #003366; margin-top:
        0px; margin-bottom: 0px; margin-left: -30px; padding-top: 10px; padding-bottom:
        3px; padding-left: 15px; width: 105%; }\r\n\t\t.button { background-color:
        #dcdcdc; font-family: Verdana; font-size: 1em; border-top: #cccccc 1px solid;
        border-bottom: #666666 1px solid; border-left: #cccccc 1px solid; border-right:
        #666666 1px solid; }\r\n\t\t.frmheader { color: #000000; background: #dcdcdc;
        font-family: Verdana; font-size: .7em; font-weight: normal; border-bottom:
        1px solid #dcdcdc; padding-top: 2px; padding-bottom: 2px; }\r\n\t\t.frmtext
        { font-family: Verdana; font-size: .7em; margin-top: 8px; margin-bottom: 0px;
        margin-left: 32px; }\r\n\t\t.frmInput { font-family: Verdana; font-size: 1em;
        }\r\n\t\t.intro { margin-left: -15px; }\r\n           \r\n    </style>\r\n\r\n
        \   <title>\r\n\tPostalWS Web Service\r\n</title></head>\r\n\r\n  <body>\r\n\r\n
        \   <div id=\"content\">\r\n\r\n      <p class=\"heading1\">PostalWS</p><br>\r\n\r\n
        \     \r\n\r\n      <span>\r\n\r\n          <p class=\"intro\">The following
        operations are supported.  For a formal definition, please review the <a href=\"PostalWS.asmx?WSDL\">Service
        Description</a>. </p>\r\n          \r\n          \r\n              <ul>\r\n
        \           \r\n              <li>\r\n                <a href=\"PostalWS.asmx?op=CancelDelivery\">CancelDelivery</a>\r\n
        \               \r\n                <span>\r\n                  <br>The CancelDelivery()
        method is a way to cancel fulfillment of a mailer still not delivered to the
        postal service. Cancellation may take up to a few minutes to succeed. If funds
        were deducted from the account, they will be refunded immediately.\r\n                </span>\r\n
        \             </li>\r\n       [...]
- request:
    method: get
    uri: https://api.postalmethods.com/2009-02-26/PostalWS.asmx
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "\r\n\r\n<html>\r\n\r\n    <head><link rel=\"alternate\" type=\"text/xml\"
        href=\"/2009-02-26/PostalWS.asmx?disco\" />\r\n\r\n    <style type=\"text/css\">\r\n
    [...]
- request:
    method: get
    uri: https://api.postalmethods.com/2009-02-26/PostalWS.asmx?WSDL
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tm=\"http://microsoft.com/wsdl/mime/[...]
- request:
    method: post
    uri: https://api.postalmethods.com/2009-02-26/PostalWS.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="PostalMethods"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="PostalMethods/AbstractTypes"><env:Body><tns:SendLetter></tns:SendLetter></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"PostalMethods/SendLetter"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><SendLetterResponse
        xmlns="PostalMethods"><SendLetterResult>-4001</SendLetterResult></SendLetterResponse></soap:Body></soap:Envelope>
  recorded_at: Thu, 30 Oct 2014 17:34:57 GMT
recorded_with: VCR 2.9.3
